.page-register
{
    background-image: url(../img/main_image.png);
    background-position-x: right;
    background-size: 736px 800px;
}

.register
{
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.card-body-register
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    padding: 100px 50px 100px 50px;
}

.inputer
{
    width: 500px;
    border-radius: 20px;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body-register__checkbox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}